/*@import url('https://fonts.cdnfonts.com/css/dm-sans');*/

body {
    background-color: mintcream;
    font-family: 'DM Sans', sans-serif;
    font-size: x-large;
}

li {
    margin-bottom: 8px;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table, td, th {
    font-family: 'DM Sans', sans-serif;
    font-size: large;
    border-collapse: collapse;
    border: 1px solid;
}

thead {
    text-align: center;
}

code {
    /*font-family: 'DM Sans Bold';*/
    font-size: large;
}

.navigation {
    font-size: small;
}

thead th {
    background-color: lightgray;
}

iframe {
    border: none;
}
