@import url('https://fonts.cdnfonts.com/css/dm-sans');

body {
    background-color: mintcream;
    font-family: 'DM Sans', sans-serif;
    font-size: x-large;
}

li {
    margin-bottom: 8px;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    font-family: 'DM Sans', sans-serif;
    font-size: large;
}

thead {
    text-align: center;
}

code {
    /*font-family: 'DM Sans Bold';*/
    font-size: large;
}

.navigation {
    font-size: small;
}
